# data and outputs
data/
outputs/
results/
checkpoints/
logs/
wandb/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# environments
.venv/
venv/
tnp-env/
tnp-env-old/
env/

# model files
*.pt
*.pth
*.ckpt

# Slurm / HPC
*.out
*.err
slurm-*.out

# OS/editor
.DS_Store
.vscode/
.idea/

# Keep source-code data generators in version control
!tnp_crps/data/
!tnp_crps/data/__init__.py
!tnp_crps/data/*.py
wandb_cache/

wandb_data/
